.container-start {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

.container-BMI {
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}
